.column {
  display: flex;
  flex-flow: column;
}
.row {
  display: flex;
  flex-flow: row;
}
body div,
body input {
  font-family: Arial;
  text-align: center;
  padding: 2px;
  font-size: 14pt;
  font-weight: bold;
}
body .bordered {
  border: 2px solid black;
}
body .backgrounded {
  background-color: black;
  color: white;
}
body .backgrounded-hp {
  background-color: green;
  color: white;
}
body .backgrounded-mp {
  background-color: blue;
  color: white;
}
body .backgrounded-attack {
  background-color: red;
  color: white;
}
body .main-panel .panel {
  width: 400px;
}
body .main-panel .panel-1 .character .name div,
body .main-panel .panel-1 .character .class div {
  width: 100px;
}
body .main-panel .panel-1 .character #name,
body .main-panel .panel-1 .character #class {
  width: 350px;
}
body .main-panel .panel-1 .stats .stats-stats {
  width: 45%;
}
body .main-panel .panel-1 .stats .stats-stats .stat {
  height: 45px;
}
body .main-panel .panel-1 .stats .stats-stats .stat div,
body .main-panel .panel-1 .stats .stats-stats .stat input {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-panel .panel-1 .stats .stats-status {
  width: 50%;
}
body .main-panel .panel-1 .stats .stats-status .status,
body .main-panel .panel-1 .stats .stats-status .stats-attacks {
  width: 100%;
  padding: 0px;
  height: 33%;
}
body .main-panel .panel-1 .stats .stats-status .status .attacks-close,
body .main-panel .panel-1 .stats .stats-status .stats-attacks .attacks-close,
body .main-panel .panel-1 .stats .stats-status .status .attacks-ranged,
body .main-panel .panel-1 .stats .stats-status .stats-attacks .attacks-ranged {
  padding: 0px;
  border-left-width: 4px;
  border-right-width: 4px;
}
body .main-panel .panel-1 .stats .stats-status .status input {
  height: calc(100% - 30px);
  font-size: 30pt;
}
body .main-panel .panel-1 .stats .stats-status .stats-attacks {
  margin-top: 10px;
}
body .main-panel .panel-1 .stats .stats-status div,
body .main-panel .panel-1 .stats .stats-status input {
  width: calc(100% - 3px);
  padding: 0px 4px 0px 4px;
}
body .main-panel .panel-2 .character .name div,
body .main-panel .panel-2 .character .class div {
  width: 100px;
}
body .main-panel .panel-2 .character #name,
body .main-panel .panel-2 .character #class {
  width: 150px;
}
body .main-panel .panel-2 .character .character-detail {
  width: 60%;
}
body .main-panel .panel-2 .character .character-detail div,
body .main-panel .panel-2 .character .character-detail input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-panel .panel-2 .character .character-level-wrapper {
  width: 30%;
  margin-left: 20px;
}
body .main-panel .panel-2 .character #level {
  height: 28px;
}